In [7]:
import numpy as np
import pandas as pd
import requests

iris_data_str = requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
iris_df = pd.read_csv('iris.data', header = None)
print(iris_df)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [9]:
s1 = pd.Series(list('abcde'))
print(s1)
print(type(iris_df), type(s1))

0    a
1    b
2    c
3    d
4    e
dtype: object
<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>

In [22]:
s2 = pd.Series([1,1.0,'a'])
s3 = pd.Series([x for x in range(10, 20)])
#print(s2)  #panda의 object타입은 실직적으로 타입이 정해지지않았다는 뜻
#print(s3[3])
#print(s3[3:8:2])
print(s3[[3,7,9]])
print(s3[s3>15])

3    13
7    17
9    19
dtype: int64
6    16
7    17
8    18
9    19
dtype: int64

In [26]:
print(s3.ndim)
print(s3.dtype)
print(s3.shape)
s3_f = s3.astype(np.float64)
print(s3_f)

1
int64
(10,)
0    10.0
1    11.0
2    12.0
3    13.0
4    14.0
5    15.0
6    16.0
7    17.0
8    18.0
9    19.0
dtype: float64

In [27]:
s3_np = s3.to_numpy()
print(s3_np, type(s3_np))

[10 11 12 13 14 15 16 17 18 19] <class 'numpy.ndarray'>

In [28]:
print(s3*3)

0    30
1    33
2    36
3    39
4    42
5    45
6    48
7    51
8    54
9    57
dtype: int64

In [29]:
### df

s1 = pd.Series([x for x in range(10,20)])
s2 = pd.Series([x for x in range(100,120)])
df1 = pd.DataFrame({'a1': s1, 'b' : s2})
print(df1)  # Nan not a number

      0      1      2      3      4      5      6      7      8      9   \
0   10.0   11.0   12.0   13.0   14.0   15.0   16.0   17.0   18.0   19.0
1  100.0  101.0  102.0  103.0  104.0  105.0  106.0  107.0  108.0  109.0

      10     11     12     13     14     15     16     17     18     19
0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  110.0  111.0  112.0  113.0  114.0  115.0  116.0  117.0  118.0  119.0