In [2]:
import numpy as np
import pandas as pd

pd_data = pd.read_csv('전국평생학습강좌표준데이터.csv', encoding = 'cp949')
print(pd_data.shape)


for e in enumerate(pd_data.columns):
    print(e)

drop_list = ['교육시작시각', '교육종료시각', '강좌내용', '운영기관전화번호']
pd_data.drop(drop_list, axis =1, inplace = True )

print(pd_data.dtypes)

(26535, 27)
(0, '강좌명')
(1, '강사명')
(2, '교육시작일자')
(3, '교육종료일자')
(4, '교육시작시각')
(5, '교육종료시각')
(6, '강좌내용')
(7, '교육대상구분')
(8, '교육방법구분')
(9, '운영요일')
(10, '교육장소')
(11, '강좌정원수')
(12, '수강료')
(13, '교육장도로명주소')
(14, '운영기관명')
(15, '운영기관전화번호')
(16, '접수시작일자')
(17, '접수종료일자')
(18, '접수방법구분')
(19, '선정방법구분')
(20, '홈페이지주소')
(21, '직업능력개발훈련비지원강좌여부')
(22, '학점은행제평가(학점)인정여부')
(23, '평생학습계좌제평가인정여부')
(24, '데이터기준일자')
(25, '제공기관코드')
(26, '제공기관명')
강좌명                object
강사명                object
교육시작일자             object
교육종료일자             object
교육대상구분             object
교육방법구분             object
운영요일               object
교육장소               object
강좌정원수               int64
수강료                 int64
교육장도로명주소           object
운영기관명              object
접수시작일자             object
접수종료일자             object
접수방법구분             object
선정방법구분             object
홈페이지주소             object
직업능력개발훈련비지원강좌여부    object
학점은행제평가(학점)인정여부    object
평생학습계좌제평가인정여부      object
데이터기준일자            object
제공기관코드             object
제공기관명              object
dtype: object

In [6]:
for col_name in pd_data.columns:
    if '일자' in col_name:
        pd_data[col_name] = pd_data[col_name].astype(np.datetime64, copy = False)
    elif ('구분' in col_name) or ('여부' in col_name) or ('코드' in col_name)
        pd_data[col_name] = pd_data[col_name].astype('category', copy = False)
    
print(pd_data.dtypes)

강좌명                        object
강사명                        object
교육시작일자             datetime64[ns]
교육종료일자             datetime64[ns]
교육대상구분                     object
교육방법구분                     object
운영요일                       object
교육장소                       object
강좌정원수                       int64
수강료                         int64
교육장도로명주소                   object
운영기관명                      object
접수시작일자             datetime64[ns]
접수종료일자             datetime64[ns]
접수방법구분                     object
선정방법구분                     object
홈페이지주소                     object
직업능력개발훈련비지원강좌여부            object
학점은행제평가(학점)인정여부            object
평생학습계좌제평가인정여부              object
데이터기준일자            datetime64[ns]
제공기관코드                     object
제공기관명                      object
dtype: object

C:\Users\ITPS\AppData\Local\Temp\ipykernel_13204\440460424.py:3: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  pd_data[col_name] = pd_data[col_name].astype(np.datetime64, copy = False)

In [24]:
t =[]
for col_name in pd_data.columns:
    if pd_data[col_name].hasnans == True:
        print(col_name)
        cnt_s = pd_data[col_name].isna().value_counts()
        cnt = cnt_s.to_numpy()
        t.append([col_name, cnt[0],cnt[1]])
#print(t)
t = np.array(t)
missing_df = pd.DataFrame(t[:,1:], index = t[:,0], columns = ['value_count', 'NaN_count'])
#missing_df.index = missing_df['col_name']
print(missing_df)

pd_data['제공기관명'].hasnans  # not a numbers없음
pd_data['제공기관명'].isna().value_counts()

운영요일
교육장소
접수시작일자
접수종료일자
선정방법구분
홈페이지주소
       value_count NaN_count
운영요일         22007      4528
교육장소         23755      2780
접수시작일자       21516      5019
접수종료일자       21474      5061
선정방법구분       22273      4262
홈페이지주소       24221      2314

False    26535
Name: 제공기관명, dtype: int64

In [26]:
#f1 = pd_data['운영요일'].isna()
#pd_data['운영요일'][f1]
pd_data['운영요일'].value_counts()

#운영요일별 카운트시 운영요일을 특정할 수 없으므로,
#삭제 조치하도록 함.

목          2556
화          2524
수          2434
월          1937
금          1851
           ...
월+화+토         1
수요일+일요일       1
월요일+일요일       1
격주토요일         1
월 +수 +금       1
Name: 운영요일, Length: 218, dtype: int64