In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd_data = pd.read_csv("내국인출국교통수단별_20230302165121.csv", encoding = 'cp949')
pd_data.columns = ['시점', '공항', '항구']
pd_data.head()

# 공항, 항구 월별 출국 인원 plot
# normalization /standardization 적용, plot
# 2015년부터 2022년까지의 추이 보기
# 2022년 연말 공항 이용객 증가
# 2022년 연말에 공항 출국 인원이 늘어난 것이 항구 출국인원에도 반영되었는가

#pd_data['공항_norm'] = pd_data['공항'].apply(lambda x: (x-bmi_min)/(bmi_max-bmi_min))

# .sort_values()
# .sort_index()

        시점    공항    항구
0       시점    김해    부산
1  2022.01   938  3279
2  2022.02   855  3179
3  2022.03   986  3418
4  2022.04  1823  3158

In [2]:
col_selection = ['시점', '공항', '항구']

dt+time = pd.to_datetime(pd_data['시점'], format= )

In [ ]:
_, axe = plt.subplots()