In [7]:
import numpy as np
import pandas as pd
import requests

iris_data_str = requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
iris_df = pd.read_csv('iris.data', header = None)
print(iris_df)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [9]:
s1 = pd.Series(list('abcde'))
print(s1)
print(type(iris_df), type(s1))

0    a
1    b
2    c
3    d
4    e
dtype: object
<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>

In [22]:
s2 = pd.Series([1,1.0,'a'])
s3 = pd.Series([x for x in range(10, 20)])
#print(s2)  #panda의 object타입은 실직적으로 타입이 정해지지않았다는 뜻
#print(s3[3])
#print(s3[3:8:2])
print(s3[[3,7,9]])
print(s3[s3>15])

3    13
7    17
9    19
dtype: int64
6    16
7    17
8    18
9    19
dtype: int64

In [26]:
print(s3.ndim)
print(s3.dtype)
print(s3.shape)
s3_f = s3.astype(np.float64)
print(s3_f)

1
int64
(10,)
0    10.0
1    11.0
2    12.0
3    13.0
4    14.0
5    15.0
6    16.0
7    17.0
8    18.0
9    19.0
dtype: float64

In [27]:
s3_np = s3.to_numpy()
print(s3_np, type(s3_np))

[10 11 12 13 14 15 16 17 18 19] <class 'numpy.ndarray'>

In [28]:
print(s3*3)

0    30
1    33
2    36
3    39
4    42
5    45
6    48
7    51
8    54
9    57
dtype: int64

In [36]:
### df

s1 = pd.Series([x for x in range(10,20)])
s2 = pd.Series([x for x in range(100,120)])
s3 = pd.Series(list('abcdefgasdg'))
df1 = pd.DataFrame({'a': s1, 'b' : s2, 'c':s3})
#print(df1)  # Nan not a number
#print(df1['a'])
#print(df1[['a','b']])
print(df1[2:5])

      a    b  c
2  12.0  102  c
3  13.0  103  d
4  14.0  104  e

In [37]:
df1.head()

      a    b  c
0  10.0  100  a
1  11.0  101  b
2  12.0  102  c
3  13.0  103  d
4  14.0  104  e

In [41]:
#print(df1)
#print(df1.loc[3:10, ['a', 'c']])
print(df1.iloc[3:10, [0,2]])

      a  c
3  13.0  d
4  14.0  e
5  15.0  f
6  16.0  g
7  17.0  a
8  18.0  s
9  19.0  d