In [2]:
import numpy as np
import pandas as pd
pd_data = pd.read_csv('전국푸드트럭허가구역표준데이터.csv', encoding = 'cp949')


print(pd_data.head())
pd_data.columns

for i in enumerate(pd_data.columns):
    print(i)

             허가구역명  장소유형    시도명 시군구명  \
0       부산대학교내 장승터     6  부산광역시  금정구
1           금양초등학교     6  부산광역시  금정구
2  부산가톨릭대학교 로사리오광장     6  부산광역시  금정구
3        호계2차현대홈타운     8    경기도  안양시
4          안양종합운동장     8    경기도  안양시

                                   소재지도로명주소               소재지지번주소         위도  \
0                    부산광역시 금정구 부산대학로 63번길 2      부산광역시 금정구 장전동 40  35.232243
1                       부산광역시 금정구 중앙대로 1755   부산광역시 금정구 부곡동 63-27  35.241236
2  부산광역시 금정구 오륜대로 57, 부산가톨릭대학교 로사리오광장 (부곡동)       부산광역시 금정구 부곡동 9  35.244677
3      경기도 안양시 동안구 경수대로 462 (호계동 호계2차현대홈타운)                   NaN        NaN
4                      경기도 안양시 동안구 평촌대로 389  경기도 안양시 동안구 비산동 1023        NaN

           경도  푸드트럭운영대수           허가구역사용료  ... 11월운영시작시각 11월운영종료시각 12월운영시작시각  \
0  129.083825       1.0                 0  ...     00:00     00:00     00:00
1  129.092025       1.0                 0  ...     00:00     00:00     00:00
2  129.096872       1.0                 0  ...     00:00     00:00     00:00
3         NaN       NaN  매출액 15퍼센트(VAT별도)  ...       NaN       NaN       NaN
4         NaN       NaN  매출액 15퍼센트(VAT별도)  ...       NaN       NaN       NaN

  12월운영종료시각 판매제한품목       관리기관명       관리기관전화번호     데이터기준일자   제공기관코드      제공기관명
0     00:00    NaN  부산광역시 금정구청   051-519-4414  2021-10-25  3350000  부산광역시 금정구
1     00:00    NaN  부산광역시 금정구청   051-519-4414  2021-10-25  3350000  부산광역시 금정구
2     00:00    NaN  부산광역시 금정구청   051-519-4414  2021-10-25  3350000  부산광역시 금정구
3       NaN    NaN    경기도 안양시청  031-8045-4313  2022-12-07  3830000    경기도 안양시
4       NaN    NaN    경기도 안양시청  031-8045-4313  2022-12-07  3830000    경기도 안양시

[5 rows x 47 columns]
(0, '허가구역명')
(1, '장소유형')
(2, '시도명')
(3, '시군구명')
(4, '소재지도로명주소')
(5, '소재지지번주소')
(6, '위도')
(7, '경도')
(8, '푸드트럭운영대수')
(9, '허가구역사용료')
(10, '허가구역운영시작일자')
(11, '허가구역운영종료일자')
(12, '허가구역휴무일')
(13, '허가구역평일운영시작시각')
(14, '허가구역평일운영종료시각')
(15, '허가구역주말운영시작시각')
(16, '허가구역주말운영종료시각')
(17, '1월운영시작시각')
(18, '1월운영종료시각')
(19, '2월운영시작시각')
(20, '2월운영종료시각')
(21, '3월운영시작시각')
(22, '3월운영종료시각')
(23, '4월운영시작시각')
(24, '4월운영종료시각')
(25, '5월운영시작시각')
(26, '5월운영종료시각')
(27, '6월운영시작시각')
(28, '6월운영종료시각')
(29, '7월운영시작시각')
(30, '7월운영종료시각')
(31, '8월운영시작시각')
(32, '8월운영종료시각')
(33, '9월운영시작시각')
(34, '9월운영종료시각')
(35, '10월운영시작시각')
(36, '10월운영종료시각')
(37, '11월운영시작시각')
(38, '11월운영종료시각')
(39, '12월운영시작시각')
(40, '12월운영종료시각')
(41, '판매제한품목')
(42, '관리기관명')
(43, '관리기관전화번호')
(44, '데이터기준일자')
(45, '제공기관코드')
(46, '제공기관명')

In [3]:
pd_data.shape #342군데 존재함

(342, 47)

In [4]:
national_site_count = pd_data.shape[0]
pd_data['시도명'].value_counts()  #pandas dataframe

경기도        80
경상남도       48
충청북도       41
강원도        34
충청남도       24
서울특별시      17
제주특별자치도    17
광주광역시      14
전라남도       13
대구광역시      12
경상북도       11
부산광역시       9
인천광역시       8
전라북도        7
대전광역시       6
울산광역시       1
Name: 시도명, dtype: int64

In [8]:
pd_data['푸드트럭운영대수'].sum()  #pd_data['푸드트럭운영대수'].sum 괄호차이 알아보기

444.0

In [8]:
sub_data = pd_data[['시도명', '푸드트럭운영대수']]
x = sub_data.groupby('시도명').sum()
print(type(x))

<class 'pandas.core.frame.DataFrame'>

In [12]:
#pd_data['시도명'].describe()
#print(pd_data['푸드트럭운영대수'].describe())
print(pd_data[['시도명','푸드트럭운영대수']].describe())

         푸드트럭운영대수
count  251.000000
mean     1.768924
std      2.952015
min      0.000000
25%      1.000000
50%      1.000000
75%      1.000000
max     25.000000

In [21]:
#print(pd_data.shape)
num_descr_df = pd_data.describe()
#print(num_descr_df.columns)
#print(pd_data.columns)


lista = list(pd_data.columns)
for e in list(num_descr_df.columns):
        lista.remove(e)
print(len(pd_data.columns), len(lista))

#pd_data[lista].describe()

47 43

In [30]:
x = pd_data['허가구역운영시작일자'].astype(np.datetime64)
print(x)

0     2018-04-30
1     2018-08-04
2     2019-09-25
3     2020-09-21
4     2022-02-19
         ...
337   2021-09-17
338   2021-09-17
339   2022-06-14
340   2022-08-01
341   2022-08-01
Name: 허가구역운영시작일자, Length: 342, dtype: datetime64[ns]

In [41]:
#pd_data['허가구역휴무일'].value_counts()
x = pd_data['허가구역휴무일'].astype('category')


print(x.cat.codes)
df1 = pd.DataFrame({'label': x, 'codes':x.cat.codes})
df1.sort_values('label', ascending = False)

0      51
1      54
2      54
3      36
4      48
       ..
337    23
338    23
339    23
340    23
341    23
Length: 342, dtype: int8

                  label  codes
217             화요일+수요일     57
5           화+수+목+금+토+일     56
101         화+수+목+금+토+일     56
199               행사종료일     55
200               행사종료일     55
..                  ...    ...
115  1개월 내 3~4일 비정기적 휴무      1
71                    -      0
70                    -      0
69                    -      0
68                    -      0

[342 rows x 2 columns]

In [54]:
def myfn(x):
    print(x, type(x))
    return np.sum(x)*100

sub_data = pd_data[['시도명', '푸드트럭운영대수']]
print(sub_data)
g1 = sub_data.groupby('시도명')
print(g1, type(g1))
g1 = sub_data.groupby('시도명')
#g1.sum()
#g1.count()
#g1.std()

#g1.describe()
#g1.aggregate([np.sum, np.mean, np.std])
#g1.aggregate(lambda x: np.sum(x)*100)
#g1.apply(lambda x: np.sum(x)*100)
#g1.aggregate(myfn)
#g1.apply(myfn)

       시도명  푸드트럭운영대수
0    부산광역시       1.0
1    부산광역시       1.0
2    부산광역시       1.0
3      경기도       NaN
4      경기도       NaN
..     ...       ...
337    경기도       1.0
338    경기도       1.0
339    경기도       1.0
340    경기도       1.0
341    경기도       1.0

[342 rows x 2 columns]
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001FCBE33ED40> <class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [59]:
def myfn2(x):
    if x == np.NaN:
        return 0.0
    else:
        return x
    
x = pd_data['푸드트럭운영대수'].apply(myfn2)
print(x)
x.replace(np.NaN, 0.0)

0      1.0
1      1.0
2      1.0
3      NaN
4      NaN
      ...
337    1.0
338    1.0
339    1.0
340    1.0
341    1.0
Name: 푸드트럭운영대수, Length: 342, dtype: float64

0      1.0
1      1.0
2      1.0
3      0.0
4      0.0
      ...
337    1.0
338    1.0
339    1.0
340    1.0
341    1.0
Name: 푸드트럭운영대수, Length: 342, dtype: float64